.nav {
    background-color: rgba(206, 206, 206, 0.815);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*
    justify-content: aligns the child along the main-axis!
    align-content: aligns the child along the cross-axis;
    */
    box-shadow: 0px 5px 18px #5c5c5c;
    /*making it fixed on top of the screen*/
    position: fixed;
}

.nav .nav-link {
    height: 100%;
    padding-top: 10px;
}

.nav .nav-link:hover {
    background-color: rgba(95, 95, 95, 0.308);
    color: whitesmoke;
}

.nav img {
    height: 10vh;
}

.nav a {
    text-decoration: none;
    color: navy;
    font-size: 24px;   
}

.nav a:hover {
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-width: 516px) {
    .dropdownItem .nav-link {
        padding: 4px 0;
        margin: 0;
        text-align: right;
    }
}